# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
imageClinics/foto1-x - cekMenu.png
imageClinics/foto2-x - listMakanan.png
imageClinics/foto3-x - listMinuman.png
imageClinics/foto4-x - loginMenu.png
.gitignore
imagesPayment/foto1-x - cekMenu.png
imagesPayment/foto2-x - menuMinuman.png
imagesPayment/foto3-x - menuMakanan.png
imagesPayment/foto4-x - Pembelian.png
imagesPayment/foto5-x - tampilanUtama.png
